body {
    background-color: beige;
    color: #1d1d1d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

button {
    display: block;
    margin: 5px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
}

input[type=text], input[type=password] {
    border: 1px solid black;
    border-radius: 4px;
}

.header{
    background-color: bisque;
    color: #1d1d1d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.logoff{
    display: block;
    /*
    background:none;
    border:none;
    cursor:pointer;
    margin: 0;
    */

}

.header_btn{
    display: inline;
}

.namebtn{
    cursor:pointer;
    text-decoration: underline;
}

.opretTabel td, .opretTabel th, .opretTabel table {
    border-color: transparent;
    text-align: left;
}
.rightshift{
    text-align: right;
}

div.seRecept {
    position: fixed;
    top: 80px;
    right: 5px;
    width: 320px;
    background-color: beige;
    overflow: auto;
    height: 70%;
}

#lukRecept{
    float: right;
}
.seReceptTable{
    width: 300px;
}

.active{
    background-color: lawngreen;
}

.inactive{
    background-color: tomato;
}

.under_prod{
    background-color: goldenrod;
}

.menu_btn{
    width: 130px;
    height: 30px;
    margin: 0px auto;
    background-color: goldenrod;
    border-style: solid;
    border-color: darkgoldenrod;
    cursor: pointer;
}