body {
    background-color: beige;
    color: #1d1d1d;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

button {
    display: block;
    margin: 5px auto;
    font-family: "Tahoma", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
    margin-bottom: 50px;
}

tr{
    background-color: floralwhite;
    border: 1px solid dimgrey;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
    transition: 0.3s;
    cursor: pointer;
}

tr:hover{
    background-color: lightgrey;
}

.selected_row{
    background-color: darkgrey;
    cursor: default;
}

.selected_row:hover{
    background-color: darkgrey;
    cursor: default;
}

.selected_row .active{
    background-color: darkgrey;
}

.selected_row:hover .active{
    background-color: darkgrey;
}

.selected_row .inactive{
    background-color: darkgrey;
}

.selected_row:hover .inactive{
    background-color: darkgrey;
}

.selected_row .under_prod{
    background-color: darkgrey;
}

.selected_row:hover .under_prod{
    background-color: darkgrey;
}

th {
    background-color: #ffcc93;
    border: 1px solid #995200;
    border-collapse: collapse;
    padding: 5px;
    margin: 0px auto;
    cursor: default;
}

.create_row{
    text-align: center;
}

.submit_btn{
    font-family: "Tahoma", Arial, Helvetica, sans-serif;
    color: black;
    display: block;
    width: 50px;
    height: 25px;
    margin: 0px auto;
    background-color: #ffac4d;
    border-style: solid;
    border-color: #c2883d;
    cursor: pointer;
    transition: 0.3s;
}

.submit_btn:hover:not(:disabled){
    background-color: #d68b36;
}

input[type=text], input[type=password] {
    border: 1px solid grey;
    border-radius: 4px;
    width: 170px;
}

select{
    border: 1px solid grey;
    border-radius: 4px;
    width: 170px;
}

.header{
    background-color: bisque;
    color: #1d1d1d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fp_div button:not(:last-child) {
    border-bottom: none;
}

.logoff{
    float: left;
    display: block;

    width: 80px;
    height: 30px;
    margin: 0px auto;
    background-color: #c65353;
    border-style: solid;
    border-color: darkred;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    transition: 0.3s;
    /*
    background:none;
    border:none;
    cursor:pointer;
    margin: 0;
    */

}

.logoff:hover{
    background-color: #c12828;
}

.header_btn{
    display: inline;
    width: 110px;
    height: 30px;
    margin: 0px auto;
    background-color: goldenrod;
    border-style: solid;
    border-color: darkgoldenrod;
    cursor: pointer;
    transition: 0.3s;
}

.header_btn:hover:not(:disabled){
    background-color: #d68b36;
}

.selected_header_btn{
    display: inline;
    width: 110px;
    height: 30px;
    margin: 0px auto;
    /* c47c2b */
    background-color: #b77326;
    border-style: solid;
    border-color: darkgoldenrod;
    cursor: default;
}

button:disabled {
    background-color: #dddddd;
    border-color: darkgray;
    cursor: default;
}

.namebtn{
    cursor:pointer;
    text-decoration: underline;
}

.opretTabel td, .opretTabel th, .opretTabel table {
    border-color: transparent;
    text-align: left;
}
.rightshift{
    text-align: right;
}

.sidenav {
    height: 100%;
    width: auto;
    position: fixed;
    z-index: 1;
    top: 80px;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
}

div.seRecept {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 350px;
    background-color: transparent;
    /*overflow: auto;*/
    height: 70%;
    transition: 0.5s;
}

#lukRecept, #lukKomp, #udprint{
    float: left;
}

#lukRecept, #lukKomp{
    float: left;
    display: block;

    width: 25px;
    height: 25px;
    background-color: #c65353;
    border-style: solid;
    border-color: darkred;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    /*
    background:none;
    border:none;
    cursor:pointer;
    margin: 0;
    */

}

#lukRecept:hover, #lukKomp:hover{
    background-color: #c12828;
}

#udprint{
    float: left;
    display: block;
    margin-left: 5px;

    width: 60px;
    height: 25px;
    background-color: lightgrey;
    border-style: solid;
    border-color: grey;
    cursor: pointer;
    transition: 0.3s;
    /*
    background:none;
    border:none;
    cursor:pointer;
    margin: 0;
    */

}

#udprint:hover{
    background-color: darkgrey;
}


.seReceptTable{
    width: 332px;
    margin-bottom: 0;
    margin-right: 18px;
    table-layout: auto;
    font-size: 14px;
}

.seReceptTable tr td:nth-child(1), .seReceptTable tr th:nth-child(1){
    word-break: break-all;
    width: 25px;
}

.seReceptTable tr td:nth-child(2), .seReceptTable tr th:nth-child(2){
    word-break: break-all;
    width: 80px;
}

.seReceptTable tr td:nth-child(3), .seReceptTable tr th:nth-child(3){
    word-break: break-all;
    width: 28px;
}

.seReceptTable tr td:nth-child(4), .seReceptTable tr th:nth-child(4){
    word-break: break-all;
    width: 1px;
}

div.seKomp {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 500px;
    background-color: transparent;
    /*overflow: auto;*/
    height: 70%;
    transition: 0.5s;

}

.seKompTable{
    width: 482px;
    margin-bottom: 0;
    margin-right: 18px;
    table-layout: auto;
    font-size: 12px;
}

.seKompTable tr td:nth-child(1), .seKompTable tr th:nth-child(1){
    word-break: break-all;
    width: 50px;
}

.seKompTable tr td:nth-child(2), .seKompTable tr th:nth-child(2){
    word-break: break-all;
    width: 26px;
}

.seKompTable tr td:nth-child(3), .seKompTable tr th:nth-child(3){
    word-break: break-all;
    width: 1px;
}

.seKompTable tr td:nth-child(4), .seKompTable tr th:nth-child(4){
    word-break: break-all;
    width: 26px;
}

.seKompTable tr td:nth-child(5), .seKompTable tr th:nth-child(5){
    word-break: break-all;
    width: 30px;
}

.seKompTable tr td:nth-child(6), .seKompTable tr th:nth-child(6){
    word-break: break-all;
    width: 20px;
}

.seKompTable tr td:nth-child(7), .seKompTable tr th:nth-child(7){
    word-break: break-all;
    width: 18px;
}

.active{
    background-color: lawngreen;
    transition: 0.3s;
}

tr:hover .active{
    background-color: #ABE673;
}

.inactive{
    background-color: tomato;
    transition: 0.3s;
}

tr:hover .inactive{
    background-color: #E7A093;
}


.under_prod{
    background-color: goldenrod;
    transition: 0.3s;
}

tr:hover .under_prod{
    background-color: #D6BE82;
}

.menu_btn{
    width: 130px;
    height: 30px;
    margin: 0px auto;
    background-color: goldenrod;
    border-style: solid;
    border-color: darkgoldenrod;
    cursor: pointer;
    transition: 0.3s;
}

.menu_btn:hover{
    background-color: #d68b36;
}

/* PRINT SIDE */
#udprintside table{
    text-align: left;
}

.raavareInfo{
    width: auto;
    border-collapse: collapse;
    border: transparent;
    text-align-all: left;
}
.produktBatchInfo{
    width: 100%;
    border-collapse: collapse;
    border: transparent;
}
#råvarerBatchInfo{
    text-align-all: left;
}
#udprintHeader, #udprintFod{
    border: transparent;
    text-align-all: left;
}
#udprintHeader td, #udprintFod td, .raavareInfo td{
    padding-right: 10px;
}


/*
.save_btn{
    width: 50px;
    height: 20px;
    margin: 0px auto;
    background-color: limegreen;
    border-style: solid;
    border-color: forestgreen;
    cursor: pointer;
    transition: 0.3s;
}

.save_btn:hover{
    background-color: #28a428;
}
*/